# Default owners

* @rishabhhq @Sirex-0

# NotebookMe

* @Sirex-0

<!-- # Core application

/src/core/ @yourusername

# UI and dialogs

/src/ui/ @yourusername
/src/dialogs/ @yourusername

# Themes and visuals

/src/themes/ @buddyusername
/assets/ @buddyusername -->

# Documentation

*.md @rishabhhq
